.chung{
    display: flex;
    
    
}
.khoi_1{
    width: 20%;
    height: 80px;
    background-color: black;
    margin-left: 4%;
    margin-top: 4%;
}
.khoi_2 {
    width: 20%;
    height: 80px;
    background-color: black;
    margin-left: 52%;
    margin-top: 4%;
    margin-right: 4%;
}
.khoi_3 {
    width: 20%;
    height: 80px;
    background-color: black;
    margin-top: 4%;
    margin-left: 40%;
}



